@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,900;1,100;1,300;1,400&family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


.container{
    width: 80%;
    margin: 0 auto;
}


.main_head{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
 }

 .icon i{
    padding-left: 20px;
    font-size: 17px;
 }



 a{
    text-decoration: none;
 }
 ul{
    list-style: none;
 }


 .navig nav ul{
    display: flex;
    margin-left: 14%;
    margin-top: 2.5%;
      }

   .navig nav ul li {
    margin-left: 30px;
   
   }

   .navig nav ul li a{
      color: #323334;
      font-weight: 500;
   }

   .logo h2{
      font-weight: 600;
   }

   .logo_name{
    display: flex;
    padding-top: 24px;
  
   }



   .logo_name span{
    padding-left: 20px;
    text-align: center;
    color: #00000088;
   }

     
   .logo_name i{
    padding-top: 4px;
    padding-left: 14%;
    text-align: center;
    color: #F2C94C;
   }



   .banner_part{
    background-image: url(../img/Group178.png);
    height: 450px;
    width: 100%;
    background-repeat: no-repeat;
    margin-top: 25px;
    background-size: cover;
   }



   .banner_part h2{
 padding-left:55%;
 padding-top: 12%;
 font-size: 24px;
 font-weight: 600;
   }


.banner_part h3{
   
 padding-left:55%;
 font-size: 34px;
font-weight: 600;
color: #A86A3D;
padding-top: 1%;
 
}


         
.banner_part button{

margin-left: 55%;
font-size: 14px;
font-weight: 500;
color: #A86A3D;
margin-top: 2%;
padding: 8px 17px;
background: none;
border: 1px solid black;
color: #222;
 
}


.about{
   margin-top: 2%;
   display: flex;
   justify-content: space-between;
}




.about_01{
   display: flex;
   background-color: #FAFAFA;
   width: 50%;
}



.about_01 img{
height: 250px;
width: 250px;
}

.about_01 h3{
   padding-top: 20%;
   font-weight: 600;
   font-size: 24px;
   color: #323334;
}




.about_02{
   display: flex;
   background-color: #ecebe9;
   width: 47%;
}



.about_02 img{
   height: 250px;
   width: 180px;
}



.about_02 h3{
   padding-top: 20%;
   font-weight: 600;
   font-size: 22px;
   color: #323334;
   padding-left: 14px;
}











.badsheet{
   background-image: url(../img/Rectangle13.png);
   height: 400px;
   width: 100%;
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: fixed;
   
}






.overlay_bad{
   background-color: #ffffffda;
   height: 290px;
   width: 500px;
position: absolute;

   margin-top: 5%;
   margin-left: 10%;

} 


.bad_conta{
   width: 60%;
   margin: 0 auto;
   text-align: center;
}


.bad_conta h3{
   font-size: 27px;
   padding: 12px 0;
padding-top: 10%;
font-weight: 500;
}


.bad_conta span{
   color: #7B5136;
   font-weight: 600;
   font-size: 24px;
}



.bad_conta del{
   color: #7B5136;
   font-weight: 600;
   font-size: 17px;
   padding-left: 10px;
}



.bad_conta p{
   color: #000000;
   font-weight: 300;
   font-size: 15px;
   
padding: 10px 0;
}



.bad_conta button{
   padding: 9px 17px;
   margin-top: 20px;
   background-color: none;
   border: 1.5px solid #222;
   font-weight: 600;
}
















.main_image{
   display: flex;
   gap: 5px;
   margin-top: 2%;
 }


.content {
   position: relative;
   width: 90%;
   max-width: 400px;
   margin: auto;
   overflow: hidden;
 }
 
 .content .content-overlay {
   background:#ffffff;
   position: absolute;
   height: 17%;
   width: 80%;
   left: 10%;
   top: 45%;
   bottom: 0;
   right: 0;
   opacity: 0;
   -webkit-transition: all 0.4s ease-in-out 0s;
   -moz-transition: all 0.4s ease-in-out 0s;
   transition: all 0.4s ease-in-out 0s;
   border-radius: 50px;
   -webkit-border-radius: 50px;
   -moz-border-radius: 50px;
   -ms-border-radius: 50px;
   -o-border-radius: 50px;
}
 
 .content:hover .content-overlay{
   opacity: 1;
 }
 
 .content-image{
   width: 100%;
   height: 350px;
 }
 
 .content-details {
   position: absolute;
   text-align: center;
   padding-left: 1em;
   padding-right: 1em;
   width: 100%;
   top: 50%;
   left: 50%;
   opacity: 0;
   -webkit-transform: translate(-50%, -50%);
   -moz-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
   -webkit-transition: all 0.3s ease-in-out 0s;
   -moz-transition: all 0.3s ease-in-out 0s;
   transition: all 0.3s ease-in-out 0s;
 }
 
 .content:hover .content-details{
   top: 50%;
   left: 50%;
   opacity: 1;
 }
 
 .content-details h3{
   color: #fff;
   font-weight: 500;
      margin-bottom: 0.5em;
  padding-top: 10px;
  font-family: 'Rufina', serif;;


 }

 .content-details i{
   font-size: 19px;
   color: #000000;
   padding-top: 25px;

 }

 .dat{
   padding-left: 24px;

 }

 .date{
   padding-left: 24px;
 }
  
 
 .fadeIn-bottom{
   top: 80%;
 }
 
 .fadeIn-top{
   top: 20%;
 }
 
 .fadeIn-left{
   left: 20%;
 }
 
 .fadeIn-right{
   left: 80%;
 }






 .product_rat_1{
   height: 300px;
   width: 380px;
   background-color: #ffffff;
   display: flex;
 }

 .product_rat_1 img{
   height: 300px;

 }


 .product_rat_1 h3{
   padding-top: 50px;
   padding-left: 21px;
   font-size: 16px;
   font-weight: 600;
   
 }




 
 .product_rat_1 i{
  
   margin-top: 30%;
margin-left: -10%;
color: #F2C94C;



 }

 .product_rat{
   display: flex;
   gap: 5px;
 }




 .btn_07{
   text-align: center;
 align-items: center;
 margin: 0 auto;
 padding-top: 50px;
  }



  .btn_07 button{
   padding: 12px 75px;
   text-transform: uppercase;
   background-color: #323334;
   border: none;
   color: #fff;
  }


  .sign_up{
   display: flex;
   margin-top: 8%;
   justify-content: space-between;
  }


  .sign_left h2{
   font-size: 26px;
   font-weight: 600;
  }



  .sign_left p{

   font-weight: 400;
   padding-top: 4px;
  }



  .sign_right input{

   width: 400px;
   height: 40px;
   padding: 0 20px;
   margin-top: 10px;
   background: none;
   font-size: 12px;
   border: 1px solid #323334;
  }


  .sign_right button{
   padding: 10px 20px;
   background-color: #323334;
   border: none;
   color: #fff;
  }

  .fotter{
   display: flex;
   justify-content: space-between;
   margin-top: 9%;
   padding-top: 4%;
   color: #fff;
  }

  .fotter_main{
   width: 100%;
   background-color: #323334;
   height: 350px;
  }


  .fotter_1 h2{
   font-weight: 600;
  }

  .fotter_1 p{
   font-weight: 200;
   font-size: 12px;
   color: #ffffffa4;
  }


  .fotter_1 h4{

   font-weight: 400;
   font-size: 14px;
   color: #ffffff;

  }

  .fotter_1 i{
padding: 0 10px;

  }


  .fotter_2 h3{
   font-weight: 600;
  }

  .fotter_2 p{

   font-weight: 200;
   color: #ffffff;
   line-height: 32px;
  }




  .fotter_3 h3{
   font-weight: 600;
  }

  .fotter_3 p{
   line-height: 34px;
   font-weight: 200;
  }

  .fotter_4 h3{
   font-weight: 600;
  }

  .datt{
   font-weight: 200;
   font-size: 22px;
   color: #ffffff96;
  }

  .datt span{
   font-size: 16px;
   color: #ffffffab;
  }

  .kl{
   padding-top: 10px;
   font-weight: 200;
   color: #fffffff6;
  }

  .cmnt{
   padding-top: 10px;
   font-weight: 300;
   color: #ffffffab;
   font-size: 14px;
  }


  .line{
margin-top: 8%;
border: 1px solid #ffffff44;

}


.fotter_ender{
   height: 70px;
   width: 100%;
   background-color: #222222;
   margin-top: 70px;
}


.fotter_ender p{
   text-align: center;
   padding-top: 25px;
   color: #fff;
}